
.contacts {
  background-color: #7a823cc4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fcdbc9;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 15px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcdbc9;;
  border: 1px solid #106924b3;;
  padding: 10px;
  margin: 5px;
  border-radius: 20%;
}